<form
  id="view"
  name="new-username-form"
  ws-send
  class="flex flex-col items-center justify-center min-h-screen bg-baby-pink"
>
  <label for="username" class="mb-4 text-3xl font-bold text-green-700">Good to see you :)</label>
  <input
    id="username"
    name="Username"
    type="text"
    placeholder="Enter your username"
    class="px-4 py-2 mb-4 mt-4 text-gray-700 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
  />

  <button
    type="submit"
    class="mt-4 bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 border-b-4 border-green-800 hover:border-green-700 rounded text-2xl"
  >
    Join
  </button>
</form>
