<div id="view">
  <style>
    @media (max-width: 640px) {
      .quiz-header {
        flex-direction: column;
        align-items: center;
      }
      .quiz-header h1 {
        margin-bottom: 0.5rem;
      }
      .quiz-header p {
        margin-top: 0.5rem;
      }
    }

    @media (min-width: 641px) {
      .quiz-header {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .full-screen {
      width: 100vw;
      height: 100vh;
    }

    .answer-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 100%;
    }

    .answer-grid.more-than-four {
      grid-template-columns: repeat(3, 1fr);
    }

    .answer-grid.more-than-six {
      grid-template-columns: repeat(4, 1fr);
    }

    .btn-color-0 {
      background-color: #f44336;
    } /* Red */
    .btn-color-1 {
      background-color: #2196f3;
    } /* Blue */
    .btn-color-2 {
      background-color: #4caf50;
    } /* Green */
    .btn-color-3 {
      background-color: #ffeb3b;
    } /* Yellow */
    .btn-color-4 {
      background-color: #ff5722;
    } /* Deep Orange */
    .btn-color-5 {
      background-color: #9c27b0;
    } /* Purple */
    .btn-color-6 {
      background-color: #3f51b5;
    } /* Indigo */
    .btn-color-7 {
      background-color: #00bcd4;
    } /* Cyan */
    .btn-color-8 {
      background-color: #e91e63;
    } /* Pink */
    .btn-color-9 {
      background-color: #8bc34a;
    } /* Light Green */

    .btn-color {
      color: white;
      border: none;
      padding: 40px 80px; /* Increased padding */
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px; /* Increased font size */
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-weight: 600;
    }

    .btn-color:hover {
      opacity: 0.9;
    }

    .answer-container {
      border: 2px solid transparent;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border-radius: 0.5rem;
    }
  </style>
  <!-- body -->
  <div class="bg-baby-pink min-h-screen flex items-center justify-center p-4 full-screen">
    <div class="h-full w-full flex flex-col items-center justify-center p-4 max-w-2xl full-screen">
      <!-- Quiz Header -->
      <div class="quiz-header flex items-center justify-between w-full px-4 mb-4">
        <!-- Quiz Name -->
        <h1 class="text-lg md:text-xl font-semibold text-dark-green">{{.Lobby.Quiz.Title}}</h1>
        <!-- Timer -->
        <p class="text-lg md:text-xl font-semibold text-dark-green">
          Time Remaining:
          <span
            class="text-2xl font-bold font-mono text-dark-green"
            id="timer"
            data-finish-time="{{.Lobby.Round.Timeout | formatAsISO}}"
          >
            <!-- Countdown of current question will be displayed here using JS -->
          </span>
        </p>
      </div>
      <!-- Script to update the timer -->
      <script>
        (function () {
          const timerElement = document.getElementById("timer");
          const finishTime = new Date(timerElement.dataset.finishTime);

          function updateCountdown() {
            const now = new Date();
            const diff = finishTime - now;

            if (diff <= 0) {
              document.getElementById("timer").innerHTML = "Time's up!";
              return;
            }

            const seconds = Math.floor(diff / 1000);
            const miliseconds = Math.floor(diff % 1000)
              .toString()
              .padStart(3, "0");
            if (seconds < 10) {
              document.getElementById("timer").style.color = "red";
              document.getElementById("timer").innerHTML = `${seconds}.${miliseconds}`;
            } else {
              document.getElementById("timer").innerHTML = `${seconds}`;
            }
            requestAnimationFrame(updateCountdown);
          }

          requestAnimationFrame(updateCountdown);
        })();
      </script>

      <!-- KWIKQUIZ Title -->
      <h1 class="text-2xl md:text-4xl font-bold text-dark-green my-4 text-center">KWIKQUIZ</h1>

      <!-- Question and Answer Options Container -->
      <div class="flex flex-col items-center justify-center w-full mt-4 md:mt-8 px-4">
        <!-- Question -->
        <h2 class="text-xl md:text-3xl font-bold text-dark-green mb-4 text-center">{{ .Lobby.Round.Question.Text }}</h2>

        <!-- Show loading bar, while reading time is not over -->
        <div
          id="reading-time-elem"
          data-reading-timeout="{{ .Lobby.Round.ReadingTimeout | formatAsISO }}"
          data-round-start-time="{{ .Lobby.Round.StartedAt | formatAsISO }}"
          class="w-full pt-4"
        >
          <div id="reading-loading-bar" class="w-full h-4 bg-gray-200">
            <div id="reading-progress" class="h-full bg-blue-500" style="width: 0%"></div>
          </div>
          <div class="text-lg text-center pt-3">
            {{ if eq .Lobby.Host .User }} Reading time! {{else}} Look at the host screen {{ end }}
          </div>
        </div>

        <!-- Answer Options -->
        {{ block "answer-options" . }}
        <div id="answer-options" class="answer-container p-6 shadow-md rounded-lg flex flex-col items-center w-full">
          <div
            class="answer-grid hidden {{ if gt (len .Lobby.Round.Answers) 4 }} more-than-four {{ end }} {{ if gt (len .Lobby.Round.Answers) 6 }} more-than-six {{ end }}"
          >
            {{ range $index, $answer := .Lobby.Round.Question.Answers }}
            <button
              class="
                py-5 md:py-6 px-5 md:px-10 text-white text-xl rounded-lg focus:outline-none focus:ring-2 focus:ring-opacity-75 transition duration-200 ease-in-out
                btn-color btn-color-{{$index}}
                {{ if eq (index $.Lobby.Round.Answers $.User.Username).Index $index}} bg-dark-blue hover:bg-blue-700 focus:ring-dark-blue {{ end }}
              "
              id="answer-q{{$.Lobby.RoundNum}}-a{{$index}}"
              name="answer"
              ws-send
            >
              {{ $answer.Text }}
            </button>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>

      <!-- Player Count and Score -->
      <div class="flex flex-col md:flex-row justify-between w-full max-w-md mt-8 px-4">
        <!-- Player Count -->
        <p class="text-lg md:text-xl font-semibold text-dark-green mb-2 md:mb-0">
          Players Answering: {{ block "player-count" . }}
          <span class="text-2xl font-bold text-dark-green" id="player-count">
            {{ .Lobby.Round.PlayersAnswering }}
          </span>
          {{ end }}
        </p>
        <!-- Score Counter -->
        {{ if eq .Lobby.Host .User }}
        <!-- The host doesn't have a score -->
        {{ else }}
        <p class="text-lg md:text-xl font-semibold text-dark-green">
          Your Score:
          <span class="text-2xl font-bold text-dark-green" id="score"> {{ index .Lobby.Scores .User.Username }} </span>
        </p>
        {{ end }}
      </div>

      <!-- Skip to answer button -->
      {{ if eq .Lobby.Host .User }}
      <button
        name="skip-to-answer-btn"
        ws-send
        class="mt-4 bg-red-700 hover:bg-red-600 text-white font-bold py-2 px-4 border-b-4 border-red-800 hover:border-red-700 rounded text-lg"
      >
        Skip to Answer
      </button>
      {{ end }}
    </div>
  </div>
  <!-- Script to show the answers after reading time -->
  <script>
    (function () {
      const readingElement = document.getElementById("reading-time-elem");
      const progressBar = document.getElementById("reading-progress");

      document.getElementById("reading-time-elem").classList.remove("hidden");
      document.getElementById("answer-options").classList.add("hidden");

      const startTime = new Date(readingElement.dataset.roundStartTime);
      const finishTime = new Date(readingElement.dataset.readingTimeout);

      const totalTime = finishTime - startTime;

      function waitForAnsweringAllowed() {
        const now = new Date();
        const diff = finishTime - now;

        if (diff <= 0) {
          document.getElementById("reading-time-elem").classList.add("hidden");
          document.getElementById("answer-options").classList.remove("hidden");
          return;
        }
        const percentage = ((totalTime - diff) / totalTime) * 100;
        progressBar.style.width = `${percentage}%`;

        requestAnimationFrame(waitForAnsweringAllowed);
      }

      requestAnimationFrame(waitForAnsweringAllowed);
    })();
  </script>
</div>
