<div id="view">
  <style>
    @media (max-width: 640px) {
      .quiz-header {
        flex-direction: column;
        align-items: center;
      }
      .quiz-header h1 {
        margin-bottom: 0.5rem;
      }
      .quiz-header p {
        margin-top: 0.5rem;
      }
    }

    @media (min-width: 641px) {
      .quiz-header {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  </style>
  <!-- body -->
  <div class="bg-baby-pink min-h-screen flex items-center justify-center p-4">
    <div class="h-full w-full flex flex-col items-center justify-center p-4 max-w-2xl">
      <!-- Quiz Header -->
      <div class="quiz-header flex items-center justify-between w-full px-4 mb-4">
        <!-- Quiz Name -->
        <h1 class="text-lg md:text-xl font-semibold text-dark-green">{{.Lobby.Quiz.Title}}</h1>
        <!-- Timer -->
        <p class="text-lg md:text-xl font-semibold text-dark-green">
          Time Remaining:
          <span
            class="text-2xl font-bold font-mono text-dark-green"
            id="timer"
            data-finish-time="{{.Lobby.CurrentQuestionTimeout | formatAsISO}}"
          >
            <!-- Countdown of current question will be displayed here using JS -->
          </span>
        </p>
      </div>
      <!-- Script to update the timer -->
      <script>
        (function () {
          const timerElement = document.getElementById("timer");
          const finishTime = new Date(timerElement.dataset.finishTime);

          function updateCountdown() {
            const now = new Date();
            const diff = finishTime - now;

            if (diff <= 0) {
              document.getElementById("timer").innerHTML = "Time's up!";
              return;
            }

            const seconds = Math.floor(diff / 1000);
            const miliseconds = Math.floor(diff % 1000)
              .toString()
              .padStart(3, "0");
            if (seconds < 10) {
              document.getElementById("timer").style.color = "red";
              document.getElementById("timer").innerHTML = `${seconds}.${miliseconds}`;
            } else {
              document.getElementById("timer").innerHTML = `${seconds}`;
            }
            requestAnimationFrame(updateCountdown);
          }

          requestAnimationFrame(updateCountdown);
        })();
      </script>
      <!-- Script to show the answers after reading time -->
      <script>
        (function () {
          const readingElement = document.getElementById("reading-time-elem");
          const progressBar = document.getElementById("reading-progress");

          const startTime = new Date(readingElement.dataset.questionStartTime);
          const finishTime = new Date(readingElement.dataset.readingTimeout);

          const totalTime = finishTime - startTime;

          function waitForAnsweringAllowed() {
            const now = new Date();
            const diff = finishTime - now;

            if (diff <= 0) {
              document.getElementById("reading-time-elem").classList.add("hidden");
              document.getElementById("answer-options").classList.remove("hidden");
              return;
            }
            const percentage = ((totalTime - diff) / totalTime) * 100;
            progressBar.style.width = `${percentage}%`;

            requestAnimationFrame(waitForAnsweringAllowed);
          }

          requestAnimationFrame(waitForAnsweringAllowed);
        })();
      </script>

      <!-- KWIKQUIZ Title -->
      <h1 class="text-2xl md:text-4xl font-bold text-dark-green my-4 text-center">KWIKQUIZ</h1>

      <!-- Question and Answer Options Container -->
      <div class="flex flex-col items-center justify-center w-full mt-4 md:mt-8 px-4">
        <!-- Question -->
        <h2 class="text-xl md:text-3xl font-bold text-dark-green mb-4 text-center">
          {{ .Lobby.CurrentQuestion.Text }}
        </h2>

        <!-- Show loading bar, while reading time is not over -->
        <div
          id="reading-time-elem"
          data-reading-timeout="{{ .Lobby.ReadingTimeout | formatAsISO }}"
          data-question-start-time="{{ .Lobby.CurrentQuestionStartTime | formatAsISO }}"
          class="w-full pt-4"
        >
          <div id="reading-loading-bar" class="w-full h-4 bg-gray-200">
            <div id="reading-progress" class="h-full bg-blue-500" style="width: 0%"></div>
          </div>
          <div class="text-lg text-center pt-3">
            {{ if eq .Lobby.Host .User }} Reading time! {{else}} Look at the host screen {{ end }}
          </div>
        </div>

        <!-- Answer Options -->
        {{ block "answer-options" . }}
        <div id="answer-options" class="flex flex-col gap-4 hidden">
          {{ range $index, $answer:= .Lobby.CurrentQuestion.Answers }}
          <!---->
          <button
            class="py-3 md:py-4 px-4 md:px-8 bg-dark-green text-white rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-dark-green transition duration-200 ease-in-out"
            class="
              {{ if eq $.User.SubmittedAnswerIdx $index}}
              py-3 md:py-4 px-4 md:px-8 bg-dark-blue text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-dark-blue transition duration-200 ease-in-out
              {{ else }}
              py-3 md:py-4 px-4 md:px-8 bg-dark-green text-white rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-dark-green transition duration-200 ease-in-out
              {{ end }}"
            id="answer-q{{$.Lobby.CurrentQuestionIdx}}-a{{$index}}"
            name="answer"
            ws-send
          >
            {{ $answer.Text }}
          </button>
          {{ end }}
        </div>
        {{ end }}
        <!-- Skip to answer button -->
        {{ if eq .Lobby.Host .User }}
        <button name="skip-to-answer-btn" ws-send class="rounded bg-blue-200 p-1">Skip to Answer</button>
        {{ end }}
      </div>

      <!-- Player Count and Score -->
      <div class="flex flex-col md:flex-row justify-between w-full max-w-md mt-8 px-4">
        <!-- Player Count -->
        <p class="text-lg md:text-xl font-semibold text-dark-green mb-2 md:mb-0">
          Players Answering:
          <!---->
          {{ block "player-count" . }}
          <span class="text-2xl font-bold text-dark-green" id="player-count"> {{ .Lobby.PlayersAnswering }} </span>
          {{ end}}
        </p>
        <!-- Score Counter -->
        {{ if eq .Lobby.Host .User }}
        <!-- The host doesn't have a score -->
        {{ else }}
        <p class="text-lg md:text-xl font-semibold text-dark-green">
          Your Score:
          <span class="text-2xl font-bold text-dark-green" id="score"> {{ .User.Score }} </span>
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
