<!doctype html>
<html lang="en">
  <head>
    {{template "header-content" .}}
    <title>KwikQuiz Results</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
      .podium {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        margin-top: 2rem;
      }

      .podium div {
        background-color: #123f16;
        color: #fec6e2;
        text-align: center;
        padding: 20px;
        border-radius: 8px;
      }

      .first {
        height: 150px;
      }

      .second {
        height: 100px;
      }

      .third {
        height: 75px;
      }
    </style>
  </head>
  <body class="bg-baby-pink min-h-screen">
    <div class="text-center flex flex-col justify-center items-center">
      <h2 class="text-4xl md:text-6xl font-extrabold text-green-700 mb-8">Final Leaderboard</h2>
      <h1 class="text-5xl mb-4 text-green-700">Of the {{ .QuizTitle }} Quiz</h1>
      <main class="w-full max-w-3xl"></main>
      <div class="podium mb-5">
        {{ $top3 := slice .Scores 0 3 }} {{ range $index, $element := $top3 }}
        <div class="{{ if eq $index 0 }}first{{ else if eq $index 1 }}second{{ else }}third{{ end }}">
          <p class="text-2xl">{{ .Username }}</p>
          <p class="text-xl">{{ .Score }} points</p>
        </div>
        {{ end }}
      </div>
      <table class="table-auto mt-5 bg-white rounded-lg shadow-lg w-full max-w-md mx-auto">
        <thead>
          <tr class="bg-green-500">
            <th class="px-4 py-2">Rank</th>
            <th class="px-4 py-2">Player</th>
            <th class="px-4 py-2">Score</th>
          </tr>
        </thead>
        <tbody>
          {{ range $index, $player := .Scores }}
          <tr class="bg-green-300 last:rounded-b-lg">
            <td class="px-4 py-2">{{ add $index 1 }}</td>
            <td class="px-4 py-2">{{.Username}}</td>
            <td class="px-4 py-2">{{.Score}}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
      <button
        class="bg-green-700 hover:bg-green-600 text-white font-bold mt-4 py-2 px-4 border-b-4 border-green-800 hover:border-green-700 rounded text-2xl"
        onclick="window.location.href='/'"
      >
        Go Back to HomePage
      </button>
    </div>
  </body>
</html>
