<!doctype html>
<html lang="en">
  <head>
    <title>Kwik Quiz Lobby {{.Pin}}</title>
    {{ template "header-content" . }}
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  </head>
  <body>
    <script>
      function closeAlert(element) {
        element.closest(".relative").remove();
      }
    </script>
    <div id="error-alerts"></div>

    <div hx-ext="ws" ws-connect="/lobbies/{{.Pin}}/ws">
      <div id="lobby-content"></div>
    </div>
  </body>
</html>

{{ define "error-alert"}}
<div id="error-alerts" hx-swap="afterbegin">
  <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2"
    role="alert"
  >
    <strong class="font-bold">Holy smokes!</strong>
    <span class="block sm:inline">{{ . }}</span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg
        class="fill-current h-6 w-6 text-red-500 cursor-pointer"
        role="button"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        onclick="closeAlert(this)"
      >
        <title>Close</title>
        <path
          d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
        />
      </svg>
    </span>
  </div>
</div>
{{ end }}

<!---->
{{define "choose-username-view" }}
<form
  id="lobby-content"
  hx-headers='{"EventType": "LESubmittedUsername"}'
  ws-send
>
  <label for="username">username:</label>
  <input id="username" name="Username" />
  <button type="submit" class="rounded bg-blue-200 p-1">Join</button>
</form>
{{end}}
<!---->

{{define "waiting-room-view"}}
<div id="lobby-content">
  {{if .User.IsHost}}
  <h1>Pin: {{.Lobby.Pin}}</h1>
  <p>created at: {{.Lobby.CreatedAt}}</p>
  <p>time per question: {{.Lobby.TimePerQuestion}}</p>
  {{else}}
  <button hx-headers='{"EventType": "LEChangeUsernameRequest"}' ws-send>
    Change Username
  </button>

  {{end}}
  <h2>Players</h2>
  <ul>
    {{range $key, $value := .Lobby.Players}}
    <li>{{$value.Username}}</li>
    {{end}}
  </ul>

  {{if .User.IsHost}}
  <button
    hx-headers='{"EventType": "LEGameStartRequest"}'
    class="rounded bg-blue-200 p-1"
    ws-send
  >
    Start Game
  </button>
  {{end}}
</div>
{{end}}
<!---->
{{define "question-view"}}
<div id="lobby-content">
  <div
    id=""
    class="bg-gray-100 min-h-screen flex flex-col items-center justify-center"
  >
    <div class="h-full w-full flex flex-col items-center justify-center">
      <!-- Quiz Name -->
      <h1 class="text-lg font-semibold text-gray-800 absolute top-4 left-4">
        Quiz: <span class="text-2xl font-bold text-blue-600">Geography</span>
      </h1>

      <!-- KWIKQUIZ Title -->
      <h1 class="text-3xl font-bold text-blue-600 absolute top-4">KWIKQUIZ</h1>

      <!-- Question and Answer Options Container -->
      <div class="flex flex-col items-center justify-center mt-16">
        <!-- Question -->
        <h2 class="text-3xl font-bold text-gray-800 mb-4">
          What is the capital of France?
        </h2>

        <!-- Answer Options -->
        <div class="flex flex-col gap-4">
          <button
            class="py-4 px-8 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Option 1
          </button>
          <button
            class="py-4 px-8 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Option 2
          </button>
          <button
            class="py-4 px-8 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Option 3
          </button>
          <button
            class="py-4 px-8 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Option 4
          </button>
        </div>
      </div>

      <p
        class="text-lg font-semibold text-gray-800 absolute top-4 right-4"
        id="timer"
      >
        Time Remaining:
        <span class="text-2xl font-bold text-blue-600">00:00</span>
      </p>

      <!-- Player Count -->
      <p class="text-lg font-semibold text-gray-800 absolute bottom-4 left-4">
        Players Answered:
        <span class="text-2xl font-bold text-blue-600" id="player-count"
          >0</span
        >
      </p>

      <!-- Score Counter -->
      <p class="text-lg font-semibold text-gray-800 absolute bottom-4 right-4">
        Your Score:
        <span class="text-2xl font-bold text-blue-600" id="score">0</span>
      </p>
    </div>
    <!-- Temporary test button -->
    {{ if .User.IsHost }}
    <button
      hx-headers='{"EventType": "LESkipToAnswerRequest"}'
      ws-send
      class="rounded bg-blue-200 p-1"
    >
      Skip to Answer
    </button>
    {{ end }}
  </div>
</div>
{{end}}
<!---->

{{define "answer-view"}}
<div id="lobby-content">
  <h1>Answer view</h1>
  {{ if .User.IsHost }}
  <button
    hx-headers='{"EventType": "LENextQuestionRequest"}'
    ws-send
    class="rounded bg-blue-200 p-1"
  >
    Next Question
  </button>
  {{ end }}
</div>
{{end}}
