{{define "title"}}KwikQuiz {{.ID}}{{end}}

    {{template "header" .}}
    <body>
    <style>
      .centered-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      a {
        display: inline-block;
        width: 200px;
        height: 50px;
        background-color: blue;
        color: white;
        text-align: center;
        line-height: 50px;
        margin: 10px;
      }
    </style>
        <div class="centered-container">
                <h1>id: {{.ID}}</h1>
                <p>Title: {{.Title}}</p>
                <p>Password: {{.Password}}</p>
                <p>Description: {{.Description}}</p>
                <p>QuestionOrder: {{.QuestionOrder}}</p>
        </div>
    </body>
</html>
