<!doctype html>
<html lang="en">

{{template "header-content" .}}
    <style>
      .centered-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      a {
        display: inline-block;
        width: 200px;
        height: 50px;
        background-color: blue;
        color: white;
        text-align: center;
        line-height: 50px;
        margin: 10px;
      }
    </style>
    <body>
    <title>Kwikquiz</title>
    <div>
    <h1>Id: {{.ID}}</h1>
    <p>Title: {{.Title}}</p>
    <p>Password: {{.Password}}</p>
    <p>Description: {{.Description}}</p>
    <p>QuestionOrder: {{.QuestionOrder}}</p>

    </div>
        <div class="centered-container">
            {{range .Questions}}
            <p>Question {{.Number}}</p>
            <p>{{.Text}}</p>
            {{end}}
        </div>
    </body>
</html>
