<!-- If one decides to put aditional field in the header -->
{{ define "header-content" }}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
  src="https://unpkg.com/htmx.org@1.9.12"
  integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
<style>
  .bg-baby-pink {
    background-color: #fec6e2;
  }

  .bg-dark-green {
    background-color: #123f16;
  }

  .text-baby-pink {
    color: #fec6e2;
  }

  .text-dark-green {
    color: #123f16;
  }

  .input-border-green {
    border-color: #123f16;
  }

  .border-dark-green {
    border-color: #123f16;
  }
  .border-baby-pink {
    border-color: #f3c4db;
  }
  .bg-medium-pink {
    background-color: #d180a8;
  }
  .hover-bg-dark-green {
    background-color: #123f16;
  }
  .hover-text-baby-pink {
    color: #f6cee2;
  }
.bg-main-color {
  background-color: #9ec58d; /* main color */
}

.hover\:bg-main-color-hover:hover {
  background-color: #88b378; /* slightly darker shade for hover */
}

.border-main-color-dark {
  border-color: #7ca374; /* darker shade for border */
}

.hover\:border-main-color-hover:hover {
  border-color: #7ca374; /* darker shade for hover border */
}

  .background-pattern {
    background-color: #fec6e2;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h0 {
    background-color: #123f16;
    padding: 1px;
    border-radius: 8px;
  }
</style>
{{ end }}
